{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [clj-commons/secretary "1.2.4"]
  [kibu/pushy "0.3.8"]]

 :builds
 {:server
  {:target :node-script
   :output-to "public/js/server.js"
   :main server/main}}}
